{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/app.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}Home{% endblock %}

{% block content_title %} {% trans 'Daily habit health assessment' %} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'healthmanage:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Daily habit health assessment' %}</li>
</ol>
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="info-box bg-red">
        <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
        <div class="info-box-content" style="text-align:center">
            <h2>{% trans 'Daily habit health assessment' %}</h2>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">{% trans 'Daily habits Health information' %}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body" >
          <div id="smokediabetesChart" style="width: 100%;height:200px;"></div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner" >
          {% if smokeyear is None %}   
            <h4>{% trans 'Insufficient information' %}</h4>
            <h4>{% trans 'Unable to evaluate' %}</h4>
          {% elif smokeyear == 0 %}   
            <h4>{% trans 'You have no habit of smoking' %}</h4>
            <h4>❤❤❤❤❤</h4>
          {% else %}
            <h4>{% trans 'You have the habit of smoking' %}</h4>
            <h4>☢{% trans 'smoking' %}:&nbsp;{{smokeyear}}&nbsp;{% trans 'year' %}</h4>
          {% endif %}
        </div>
        <div class="progress" style="width: 95%;height:5px;margin:0 auto">
          <div class="progress-bar" style="width: 0"></div>
        </div>            
        <div class="icon">
          <i class="fa  fa-bomb"></i>
        </div>
        <a class="small-box-footer" style="height:20px"></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
        {% if diabetesyear is None %}   
            <h4>{% trans 'Insufficient information' %}</h4>
            <h4>{% trans 'Unable to evaluate' %}</h4>
          {% elif diabetesyear == 0 %}   
            <h4>{% trans 'You have no history of diabetes' %}</h4>
            <h4>❤❤❤❤</h4>
          {% else %}
            <h4>{% trans 'You have diabetes' %}</h4>
            <h4>☢{% trans 'Diabetes' %}:&nbsp;{{diabetesyear}}&nbsp;{% trans 'year' %}</h4>
          {% endif %}
        </div>
        <div class="progress" style="width: 95%;height:5px;margin:0 auto">
          <div class="progress-bar" style="width: 0"></div>
        </div>            
        <div class="icon">
          <i class="fa fa-user-plus"></i>
        </div>
        <a class="small-box-footer" style="height:20px"></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          {% if drinkyear is None %}   
            <h4>{% trans 'Insufficient information' %}</h4>
            <h4>{% trans 'Unable to evaluate' %}</h4>
          {% elif drinkyear == 0 %}   
            <h4>{% trans 'You have no habit of drinking alcohol' %}</h4>
            <h4>❤❤❤❤❤</h4>
          {% else %}
            <h4>{% trans 'You have the habit of drinking alcohol' %}</h4>
            <h4>☢{% trans 'Drinking' %}:&nbsp;{{drinkyear}}&nbsp;{% trans 'year' %}</h4>
          {% endif %}
        </div>
        <div class="progress" style="width: 95%;height:5px;margin:0 auto">
          <div class="progress-bar" style="width: 0"></div>
        </div>            
        <div class="icon">
          <i class="fa fa-beer"></i>
        </div>
        <a class="small-box-footer" style="height:20px"></a>
      </div>
    </div>
    <!-- ./col -->
  </div>

  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">{% trans 'Health management guidance and suggestions' %}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body" > 
        {% if smokeyear is None and drinkyear is None and diabetesyear is None%} 
          <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Insufficient information' %},{% trans 'Unable to evaluate' %}</h4> 
        {% else %}              
          <h4 style="color:#0066ff"><strong>{% trans 'Daily habit health assessmen' %}:</strong></h4>
          <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{assess.0}}</h4>
          <h4 style="color:#0066ff"><strong>{% trans 'Health Risk Analysis' %}:</strong></h4>  
          {% for risk in risks %}
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ risk.0 }}</h4>  
          {% endfor %}
          <h4 style="color:#0066ff"><strong>{% trans 'Health guidance' %}:</strong></h4>  
          {% for intervent in intervents %}
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ intervent.0 }}</h4>  
          {% endfor %}
        {% endif %}
      </div>  
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

</div>
{% endblock %}
{% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="{% static 'plugins/jquery-knob/js/jquery.knob.js' %}"></script>
<script>
 // 顶部百分率圆图
$(function () {
  let dom = document.getElementById('smokediabetesChart');
  let myChart = echarts.init(dom);
  let option = {
          tooltip: {
            formatter: '{a} <br/>{b} : {c}%'
          },
          toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
              saveAsImage: {}
            }
          },
          grid: [
            { width: '33%', height: '100%'},
            { width: '33%', height: '100%',left: '33%', },
            { width: '33%', height: '100%',left: '66%', }],
          series: [
            {
              name: 'Smoking:'+{{smokeyear}},
              data: [{name: 'Smoking',value: {% widthratio smokeyear age 100 %}}],
              type: 'gauge',
              radius: '100%',
              center: ['18%', '50%'],
              axisLine: {lineStyle: { width: 20}},    // 属性lineStyle控制线条样式
              detail: {
                textStyle: {

		                    fontSize:20,
                },
                formatter: {{smokeyear}}}
            },          
            {
              name: 'Diabetes:'+{{diabetesyear}},
              data: [{name: 'Diabetes',value: {% widthratio diabetesyear age 100 %} }],
              type: 'gauge',
              center: ['50%', '50%'],
              radius: '100%',
              axisLine: {lineStyle: { width: 20}},    // 属性lineStyle控制线条样式
              detail: {
                textStyle: {

		                    fontSize:20,
                },
                formatter:{{diabetesyear}}}
            },
            {
              name: 'Drinking:'+{{drinkyear}},
              data: [{name: 'Drinking',value: {% widthratio drinkyear age 100 %} }],
              type: 'gauge',
              radius: '100%',
              center: ['82%', '50%'],
              axisLine: {lineStyle: { width: 20}},    // 属性lineStyle控制线条样式
              detail: {
                textStyle: {fontSize:20,},
                formatter: {{drinkyear}}
              }
            },  
          ]
  };
  myChart.setOption(option, true);
  window.addEventListener('resize', () => {
    console.log('resize')
    myChart.resize()
  })
});
</script>

{% endblock %}
