{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "dist/css/app.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}{% trans 'Home' %}{% endblock %}

{% block content_title %} {% trans 'Distribution analysis of hyperlipidemia population' %} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'healthmanage:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Distribution analysis of hyperlipidemia population' %}</li>
</ol>
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box box-success">
        <div class="box-body">
          {% if dataset is None %}   
            <h3>{% trans 'No such population data, or the data are all 0 values, cannot be analyzed!' %}</h3>
          {% endif %}
          <div id="mapBox" style="width: 100%;height: 580px;"></div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

</section>
<!-- /.content -->

{% endblock %}
{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="{% static 'dist/js/china.js' %}"></script>
<script src="{% static 'plugins/jquery-knob/js/jquery.knob.js' %}"></script>
<script>
  $(function () {
    // 初始化echarts实例
    let mapBoxEchart = echarts.init(document.getElementById('mapBox'));
    // 指定相关的配置项和数据
    let mapBoxOption = {
      backgroundColor: '#FFFFFF',
      title: {
        text: 'Distribution map of hyperlipidemia population',
      //  subtext: '',
        x: 'center',
        y: '7%',
      },
      tooltip: {
        trigger: 'item',
        //formatter: '{b}: {c}人',
        formatter: function(data){
            if( !isNaN(data.value) ){
              return data.name+":"+data.value;
            }
            else{
              return data.name+':0 people or no data for the region';
            }
        },
      },
      toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
          dataView: { readOnly: false },
          restore: {},
          saveAsImage: {}
        }
      },
      visualMap: {
        min: 1,
        max: {% widthratio valmax 1 2 %},
        left: 'left',
        top: 'bottom',
        text: ['high', 'low'],
        inRange: {
          color: ['lightskyblue', 'yellow', 'orangered']
          //color: ['#e0ffff', '#006edd']
        },
        show: true
      },      
      geo: {
        map: 'china',
        roam: true,
        zoom: 1.10,
        label: {
          normal: {
            show: true,
            fontSize: '10',
            color: 'rgba(0,0,0,0.7)',
          }
        },
        itemStyle: {
          normal: {
            borderColor: 'rgba(0, 0, 0, 0.2)',
            areaColor: "#ffefd5", //区域颜色
          },
          emphasis: {
            areaColor: '#F3B329',
            shadowOffsetX: 0,
            shadowOffsetY: 0,
            shadowBlur: 20,
            borderWidth: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      },
      series: [
        {
          name: 'users',
          type: 'map',
          geoIndex: 0,
          data: {{ dataset|safe }},
        }
      ],
    };

    // 使用指定的配置项和数据显示图表。
    mapBoxEchart.setOption(mapBoxOption);
    window.addEventListener('resize', () => {
      mapBoxEchart.resize()
    })
  });

</script>

{% endblock %}